.search-results {
    
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.4em;
}

  

.search-container {
    flex-direction:"row";
    border: 1px solid #eee;
    padding: 20px;
    width: 600px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    transition: .3s;
    margin-bottom: 10px;
}

.label-input{
    display:flex; 
    flex-direction: row;
}
